x-logging:
      &default-logging
      driver: "json-file"
      options:
          max-size: "200k"
          max-file: "10"

networks:
    default:
        ipam:
            config:
                - subnet: 10.10.0.0/24
    xray:
        ipam:
            config:
                - subnet: 10.10.1.0/24
volumes:
    adguard:
    warp:

services:
    up:
        image: mercurykd/vpnbot-ng:1.1
        build:
            context: dockerfile
            dockerfile: nginx.dockerfile
            args:
                image: ${IMAGE}
        volumes:
            - ./config/.profile:/root/.ashrc:ro
            - ./config/upstream.conf:/etc/nginx/nginx.conf
            - ./config/deny:/etc/nginx/deny
            - ./scripts/start_upstream.sh:/start_upstream.sh
            - ./ssh:/ssh
            - ./config/sshd_config:/etc/ssh/sshd_config
            - ./logs/:/logs/
        ports:
            - 443:443/tcp
            - 443:443/udp
        hostname: upstream
        container_name: upstream-${VER}
        depends_on:
            php:
                condition: service_healthy
            ng:
                condition: service_started
            ad:
                condition: service_started
            xr:
                condition: service_started
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        stop_grace_period: 1s
        command: ["/bin/sh", "/start_upstream.sh"]
        networks:
            default:
                ipv4_address: 10.10.0.10
        logging: *default-logging
    ng:
        image: mercurykd/vpnbot-ng:1.1
        build:
            context: dockerfile
            dockerfile: nginx.dockerfile
            args:
                image: ${IMAGE}
        volumes:
            - ./config/.profile:/root/.ashrc:ro
            - ./config/nginx.conf:/etc/nginx/nginx.conf
            - ./config/override.conf:/etc/nginx/override.conf
            - ./config/location.conf:/etc/nginx/location.conf
            - ./config/nginx_default.conf:/nginx_default.conf
            - ./scripts/start_ng.sh:/start_ng.sh
            - ./certs/:/certs/
            - ./ssh:/ssh
            - ./config/sshd_config:/etc/ssh/sshd_config
            - ./logs/:/logs/
            - ./app/webapp:/app
        ports:
            - 80:80
        hostname: nginx
        container_name: nginx-${VER}
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        stop_grace_period: 1s
        command: ["/bin/sh", "/start_ng.sh"]
        networks:
            default:
                ipv4_address: 10.10.0.2
            xray:
                ipv4_address: 10.10.1.2
        logging: *default-logging
        depends_on:
            php:
                condition: service_healthy
    php:
        image: mercurykd/vpnbot-php:1.7
        build:
            dockerfile: dockerfile/php.dockerfile
            args:
                image: ${IMAGE}
        ports:
            - 127.0.0.1:8081:8080
        volumes:
            - ./config/.profile:/root/.ashrc:ro
            - ./config/php.ini:/etc/php81/php.ini
            - ./config/:/config/
            - ./certs/:/certs/
            - ./ssh:/ssh
            - ./app:/app
            - ./logs/:/logs/
            - ./scripts/start_php.sh:/start_php.sh
            - ./scripts/check_file.sh:/check_file.sh
            - ./version:/version
            - ./mirror:/mirror
            - ./.env:/mirror/.env
            - ./update:/update
            - ./.git:/.git
            - ./singbox_windows:/singbox
            - ./docker-compose.override.yml:/docker/compose
            - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
            IP: ${IP}
            VER: ${VER}
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        hostname: php
        container_name: php-${VER}
        # restart: unless-stopped
        stop_grace_period: 1s
        command: ["/bin/sh", "/start_php.sh"]
        working_dir: /app
        networks:
            default:
                ipv4_address: 10.10.0.7
        extra_hosts:
            - "host.docker.internal:host-gateway"
        logging: *default-logging
        healthcheck:
            test: ["CMD", "/bin/sh", "/check_file.sh"]
            interval: 5s
            timeout: 5s
            retries: 5
    service:
        image: mercurykd/vpnbot-php:1.7
        build:
            dockerfile: dockerfile/php.dockerfile
            args:
                image: ${IMAGE}
        volumes:
            - ./config/.profile:/root/.ashrc:ro
            - ./config/php.ini:/etc/php81/php.ini
            - ./config/:/config/
            - ./certs/:/certs/
            - ./ssh:/ssh
            - ./app:/app
            - ./logs/:/logs/
            - ./version:/version
            - ./update:/update
            - ./.git:/.git
            - ./scripts/start_service.sh:/start_service.sh
            - ./docker-compose.override.yml:/docker/compose
            - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
            IP: ${IP}
            VER: ${VER}
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        hostname: service
        container_name: service-${VER}
        # restart: unless-stopped
        stop_grace_period: 1s
        command: ["/bin/sh", "/start_service.sh"]
        working_dir: /app
        networks:
            default:
                ipv4_address: 10.10.0.15
        logging: *default-logging
        depends_on:
            - up
            - ng
            - php
            - ad
            - xr
    ad:
        image: mercurykd/vpnbot-ad:1.4
        build:
            dockerfile: dockerfile/adguard.dockerfile
            args:
                image: ${IMAGE}
        volumes:
            - ./config/.profile:/root/.ashrc:ro
            - type: volume
              target: /opt/adguardhome/work
              source: adguard
            - ./ssh:/ssh
            - ./config/sshd_config:/etc/ssh/sshd_config
            - ./config/:/config/
            - ./certs/:/certs/
            - ./logs/:/logs/
            - ./scripts/start_ad.sh:/start_ad.sh
        hostname: adguard
        container_name: adguard-${VER}
        depends_on:
            php:
                condition: service_healthy
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        stop_grace_period: 1s
        networks:
            default:
                ipv4_address: 10.10.0.5
        cap_add:
            - NET_ADMIN
        entrypoint: ["/bin/sh", "/start_ad.sh"]
        logging: *default-logging
    xr:
        image: mercurykd/vpnbot-xr:1.5
        build:
            dockerfile: dockerfile/xray.dockerfile
            args:
                image: ${IMAGE}
        volumes:
            - ./config/.profile:/root/.ashrc:ro
            - ./ssh:/ssh
            - ./config/sshd_config:/etc/ssh/sshd_config
            - ./config/xray.json:/xray.json
            - ./scripts/start_xray.sh:/start_xray.sh
            - ./logs:/logs
        hostname: xray
        container_name: xray-${VER}
        depends_on:
            php:
                condition: service_healthy
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        stop_grace_period: 1s
        command: ["/bin/sh", "/start_xray.sh"]
        networks:
            default:
                ipv4_address: 10.10.0.9
            xray:
                ipv4_address: 10.10.1.9
        logging: *default-logging
    wp:
        image: mercurykd/vpnbot-wp:1.3
        build:
            dockerfile: dockerfile/warp.dockerfile
            args:
                image: ${IMAGE}
        cap_add:
            - NET_ADMIN
        devices:
            - /dev/net/tun:/dev/net/tun
        volumes:
            - ./config/.profile:/root/.bashrc:ro
            - ./ssh:/ssh
            - ./config/sshd_config:/etc/ssh/sshd_config
            - ./config:/config
            - ./certs:/certs
            - ./scripts/start_wp.sh:/start_wp.sh
            - warp:/var/lib/cloudflare-warp
        hostname: warp
        container_name: warp-${VER}
        depends_on:
            php:
                condition: service_healthy
        env_file:
            - path: ./.env
              required: true # default
            - path: ./override.env
              required: false
        stop_grace_period: 1s
        command: ["/bin/sh", "/start_wp.sh"]
        networks:
            default:
                ipv4_address: 10.10.0.13
        logging: *default-logging
